<h2>Batting Team</h2>

<p id="notice"><%= notice %></p>


<table width="100%">
	<tr>
		<th>&nbsp;</th>
		<th>Name</th>
		<th>Ball History</th>
		<th>Balls Faced</th>
		<th>Fours</th>
		<th>Sixes</th>
		<th>Runs</th>
		<th>How Out</th>
	</tr>
	<% @batsmen.each do |batsman| %>
		<tr>
			<td><%= batsman.id %></td>
			<td><%= batsman.name %></td>
			<td><%= batsman.ball_history %></td>
			<td><%= batsman.balls_faced %></td>
			<td><%= batsman.fours %></td>
			<td><%= batsman.sixes %></td>
			<td><%= batsman.runs %></td>
			<td><%= batsman.how_out %></td>
			<td>
				<%= link_to "Show", match_inning_batsman_path(batsman.inning_id, batsman.id) %>&nbsp;&nbsp;
				<%= link_to "New", new_match_inning_batsman_path(inning.match_id) %>&nbsp;&nbsp;
				<%= link_to "Edit", edit_match_inning_batsman_path(batsman.inning_id, batsman.id) %>&nbsp;&nbsp;
				<%= link_to "Delete", match_inning_batsman_path(batsman.inning_id, batsman.id), method: :delete %>&nbsp;&nbsp;
			</td>
		</tr>
	<% end %>
</table>

